
<body style="background-color: rgb(248, 249, 250); margin-top: 0%;">
    <div class="w3-container w3-center w3-animate-zoom">
        <img src="assets/d.png" class="mx-auto d-block" style="margin-top:
            5px;">
    </div>
    <div class="w3-container w3-center w3-animate-right">
        <h1 align="center" style="color: black;font-weight: 700;margin-top:
            20px;">Drink & Delight</h1>

        <h3 align="center" style="margin-top:20px;font-weight: 500;">Inventory
            management software for growing businesses</h3>
        <h5 align="center" style="color: gray; font-family: 'Times New Roman',
            Times, serif">Increase your sales and keep track of every unit with
            our powerful stock management, order fulfillment, and inventory
            control software.
        </h5>
    </div>
    <h3 align="center" style="margin-top: 100px;">Drink & Delight inventory
        management system offers countless benefits including:</h3>

    <div class="row" style="margin-top: 70px;">
        <div class="col-sm-6" style="margin-bottom: 20px;"><img
                src="assets/f.png" class="mx-auto d-block" style="margin-top:
                20px;width:600px;height:600px;"></div>
        <div class="col-sm-6">
            <div class="list-type5">
                <ol>
                    <li>Improved cash flow</li>
                    <li>Better reporting and forecasting capabilities</li>
                    <li>Reduction in storage costs (overhead)</li>
                    <li>Improved cash flow</li>
                    <li>Reduced labor costs</li>
                    <li>Reduction in dead stock</li>
                    <li>Better organization</li>
                    <li>Enhanced transparency</li>
                    <li>Improved supplier, vendor, and partner relationships</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container">
        <div style="text-align:center">
            <h2>Contact Us</h2>
        </div>
        <div class="row">
            <div class="column">
                <img src="assets/g.png" style="width:100%">
            </div>
            <div class="column">
                <form action="/action_page.php">
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstname"
                        placeholder="Your name..">
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lastname"
                        placeholder="Your last name..">
                    <label for="country">Country</label>
                    <select id="country" name="country">
                        <option value="australia">India</option>
                        <option value="canada">Canada</option>
                        <option value="usa">USA</option>
                    </select>
                    <label for="subject">Subject</label>
                    <textarea id="subject" name="subject" placeholder="Write
                        something.." style="height:170px"></textarea>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</body>